build
*.exe
*.pdb
*.rdbg
*.exe.lnk
*.dll
*.wav

.vs
ctm

tags

!tools/*.exe
!tools/Trenchbroom

# anything in a folder "generated" is not committed
generated

# map files
*.bsp
*.pts
*.log

# anything "autosave" is surely not it
autosave

# don't include the auto-copied shaders
run/gamedata/shaders

# whatever this is 

# no more textures on git lfs, thank you, I don't want to pay github hosting costs
*.png
*.jpg
*.jpeg
*.tga
*.swatch

!run/gamedata/textures/font.png
!run/gamedata/textures/dog.png

# edior files
*.10x
*.vim
